.datajuri-navbar {
  background-color: #1f4287;
}

.datajuri-brand {
  color: #fff !important;
}

.datajuri-link {
  color: #fff !important;
  margin-right: 10px;
}

.datajuri-link:hover {
  color: #fff !important;
  background-color: #004e92;
  border-radius: 5px;
}
